audio-pho.json
{
    "name": "Test Vos y Imag游뚿",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 47911,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "test2-photo-audio"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "audio",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "mime",
                                "type": "text"
                            },
                            {
                                "name": "data",
                                "type": "buffer"
                            },
                            {
                                "name": "files",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "mime",
                                            "type": "text"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "photo",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "mime",
                                "type": "text"
                            },
                            {
                                "name": "data",
                                "type": "buffer"
                            },
                            {
                                "name": "files",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "mime",
                                            "type": "text"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 213174
            },
            "mapper": {
                "data": "{{2.audio.data}}",
                "path": "/Apps/voice and Images",
                "filename": "{{2.audio.name}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 285,
                    "y": -427
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Image And Voice (pablo@toksol.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 46,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 213174
            },
            "mapper": {
                "path": "{{44.path_lower}}",
                "select": "map",
                "settings": {
                    "access": "max"
                }
            },
            "metadata": {
                "designer": {
                    "x": 410,
                    "y": 28
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Max Access"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Image And Voice (pablo@toksol.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 47,
            "module": "assembly-ai:TranscribeAudio",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 61201,
                "wait_until_ready": true
            },
            "mapper": {
                "audio_url": "{{46.downloadUrl}}",
                "language_code": "es"
            },
            "metadata": {
                "designer": {
                    "x": 682,
                    "y": -417
                },
                "restore": {
                    "expect": {
                        "topics": {
                            "mode": "chose"
                        },
                        "punctuate": {
                            "mode": "chose"
                        },
                        "redact_pii": {
                            "mode": "chose"
                        },
                        "word_boost": {
                            "mode": "chose"
                        },
                        "boost_param": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "format_text": {
                            "mode": "chose"
                        },
                        "disfluencies": {
                            "mode": "chose"
                        },
                        "dual_channel": {
                            "mode": "chose"
                        },
                        "speech_model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "summary_type": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "auto_chapters": {
                            "mode": "chose"
                        },
                        "custom_topics": {
                            "mode": "chose"
                        },
                        "language_code": {
                            "mode": "chose",
                            "label": "Spanish"
                        },
                        "summarization": {
                            "mode": "chose"
                        },
                        "summary_model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "content_safety": {
                            "mode": "chose"
                        },
                        "iab_categories": {
                            "mode": "chose"
                        },
                        "redact_pii_sub": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "speaker_labels": {
                            "mode": "chose"
                        },
                        "auto_highlights": {
                            "mode": "chose"
                        },
                        "custom_spelling": {
                            "mode": "chose"
                        },
                        "entity_detection": {
                            "mode": "chose"
                        },
                        "filter_profanity": {
                            "mode": "chose"
                        },
                        "redact_pii_audio": {
                            "mode": "chose"
                        },
                        "language_detection": {
                            "mode": "chose"
                        },
                        "sentiment_analysis": {
                            "mode": "chose"
                        },
                        "redact_pii_policies": {
                            "mode": "chose"
                        },
                        "redact_pii_audio_quality": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "assembly-ai"
                            },
                            "label": "My AssemblyAI connection (e0d13...)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:assembly-ai",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "wait_until_ready",
                        "type": "boolean",
                        "label": "Wait until Transcript is Ready",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "audio_url",
                        "type": "url",
                        "label": "Audio URL",
                        "required": true
                    },
                    {
                        "name": "language_code",
                        "type": "select",
                        "label": "Language Code",
                        "validate": {
                            "enum": [
                                "en",
                                "en_au",
                                "en_uk",
                                "en_us",
                                "es",
                                "fr",
                                "de",
                                "it",
                                "pt",
                                "nl",
                                "af",
                                "sq",
                                "am",
                                "ar",
                                "hy",
                                "as",
                                "az",
                                "ba",
                                "eu",
                                "be",
                                "bn",
                                "bs",
                                "br",
                                "bg",
                                "my",
                                "ca",
                                "zh",
                                "hr",
                                "cs",
                                "da",
                                "et",
                                "fo",
                                "fi",
                                "gl",
                                "ka",
                                "el",
                                "gu",
                                "ht",
                                "ha",
                                "haw",
                                "he",
                                "hi",
                                "hu",
                                "is",
                                "id",
                                "ja",
                                "jw",
                                "kn",
                                "kk",
                                "km",
                                "ko",
                                "lo",
                                "la",
                                "lv",
                                "ln",
                                "lt",
                                "lb",
                                "mk",
                                "mg",
                                "ms",
                                "ml",
                                "mt",
                                "mi",
                                "mr",
                                "mn",
                                "ne",
                                "no",
                                "nn",
                                "oc",
                                "pa",
                                "ps",
                                "fa",
                                "pl",
                                "ro",
                                "ru",
                                "sa",
                                "sr",
                                "sn",
                                "sd",
                                "si",
                                "sk",
                                "sl",
                                "so",
                                "su",
                                "sw",
                                "sv",
                                "tl",
                                "tg",
                                "ta",
                                "tt",
                                "te",
                                "th",
                                "bo",
                                "tr",
                                "tk",
                                "uk",
                                "ur",
                                "uz",
                                "vi",
                                "cy",
                                "yi",
                                "yo"
                            ]
                        }
                    },
                    {
                        "name": "language_detection",
                        "type": "boolean",
                        "label": "Language Detection"
                    },
                    {
                        "name": "language_confidence_threshold",
                        "type": "number",
                        "label": "Language Confidence Threshold",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "speech_model",
                        "type": "select",
                        "label": "Speech Model",
                        "validate": {
                            "enum": [
                                "best",
                                "nano"
                            ]
                        }
                    },
                    {
                        "name": "punctuate",
                        "type": "boolean",
                        "label": "Punctuate"
                    },
                    {
                        "name": "format_text",
                        "type": "boolean",
                        "label": "Format Text"
                    },
                    {
                        "name": "disfluencies",
                        "type": "boolean",
                        "label": "Disfluencies"
                    },
                    {
                        "name": "dual_channel",
                        "type": "boolean",
                        "label": "Dual Channel"
                    },
                    {
                        "name": "webhook_url",
                        "type": "url",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "webhook_auth_header_name",
                        "type": "text",
                        "label": "Webhook Auth Header Name"
                    },
                    {
                        "name": "webhook_auth_header_value",
                        "type": "text",
                        "label": "Webhook Auth Header Value"
                    },
                    {
                        "name": "auto_highlights",
                        "type": "boolean",
                        "label": "Key Phrases"
                    },
                    {
                        "name": "audio_start_from",
                        "type": "integer",
                        "label": "Audio Start From"
                    },
                    {
                        "name": "audio_end_at",
                        "type": "integer",
                        "label": "Audio End At"
                    },
                    {
                        "name": "word_boost",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Word Boost"
                        },
                        "type": "array",
                        "label": "Word Boost"
                    },
                    {
                        "name": "boost_param",
                        "type": "select",
                        "label": "Word Boost Level",
                        "validate": {
                            "enum": [
                                "low",
                                "default",
                                "high"
                            ]
                        }
                    },
                    {
                        "name": "filter_profanity",
                        "type": "boolean",
                        "label": "Filter Profanity"
                    },
                    {
                        "name": "redact_pii",
                        "type": "boolean",
                        "label": "Redact PII"
                    },
                    {
                        "name": "redact_pii_audio",
                        "type": "boolean",
                        "label": "Redact PII Audio"
                    },
                    {
                        "name": "redact_pii_audio_quality",
                        "type": "select",
                        "label": "Redact PII Audio Quality",
                        "validate": {
                            "enum": [
                                "mp3",
                                "wav"
                            ]
                        }
                    },
                    {
                        "name": "redact_pii_policies",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Redact PII Policies",
                            "options": [
                                {
                                    "label": "Account Number",
                                    "value": "account_number"
                                },
                                {
                                    "label": "Banking Information",
                                    "value": "banking_information"
                                },
                                {
                                    "label": "Blood Type",
                                    "value": "blood_type"
                                },
                                {
                                    "label": "Credit Card CVV",
                                    "value": "credit_card_cvv"
                                },
                                {
                                    "label": "Credit Card Expiration",
                                    "value": "credit_card_expiration"
                                },
                                {
                                    "label": "Credit Card Number",
                                    "value": "credit_card_number"
                                },
                                {
                                    "label": "Date",
                                    "value": "date"
                                },
                                {
                                    "label": "Date Interval",
                                    "value": "date_interval"
                                },
                                {
                                    "label": "Date of Birth",
                                    "value": "date_of_birth"
                                },
                                {
                                    "label": "Driver's License",
                                    "value": "drivers_license"
                                },
                                {
                                    "label": "Drug",
                                    "value": "drug"
                                },
                                {
                                    "label": "Duration",
                                    "value": "duration"
                                },
                                {
                                    "label": "Email Address",
                                    "value": "email_address"
                                },
                                {
                                    "label": "Event",
                                    "value": "event"
                                },
                                {
                                    "label": "Filename",
                                    "value": "filename"
                                },
                                {
                                    "label": "Gender Sexuality",
                                    "value": "gender_sexuality"
                                },
                                {
                                    "label": "Healthcare Number",
                                    "value": "healthcare_number"
                                },
                                {
                                    "label": "Injury",
                                    "value": "injury"
                                },
                                {
                                    "label": "IP Address",
                                    "value": "ip_address"
                                },
                                {
                                    "label": "Language",
                                    "value": "language"
                                },
                                {
                                    "label": "Location",
                                    "value": "location"
                                },
                                {
                                    "label": "Marital Status",
                                    "value": "marital_status"
                                },
                                {
                                    "label": "Medical Condition",
                                    "value": "medical_condition"
                                },
                                {
                                    "label": "Medical Process",
                                    "value": "medical_process"
                                },
                                {
                                    "label": "Money Amount",
                                    "value": "money_amount"
                                },
                                {
                                    "label": "Nationality",
                                    "value": "nationality"
                                },
                                {
                                    "label": "Number Sequence",
                                    "value": "number_sequence"
                                },
                                {
                                    "label": "Occupation",
                                    "value": "occupation"
                                },
                                {
                                    "label": "Organization",
                                    "value": "organization"
                                },
                                {
                                    "label": "Passport Number",
                                    "value": "passport_number"
                                },
                                {
                                    "label": "Password",
                                    "value": "password"
                                },
                                {
                                    "label": "Person Age",
                                    "value": "person_age"
                                },
                                {
                                    "label": "Person Name",
                                    "value": "person_name"
                                },
                                {
                                    "label": "Phone Number",
                                    "value": "phone_number"
                                },
                                {
                                    "label": "Physical Attribute",
                                    "value": "physical_attribute"
                                },
                                {
                                    "label": "Political Affiliation",
                                    "value": "political_affiliation"
                                },
                                {
                                    "label": "Religion",
                                    "value": "religion"
                                },
                                {
                                    "label": "Statistics",
                                    "value": "statistics"
                                },
                                {
                                    "label": "Time",
                                    "value": "time"
                                },
                                {
                                    "label": "URL",
                                    "value": "url"
                                },
                                {
                                    "label": "US Social Security Number",
                                    "value": "us_social_security_number"
                                },
                                {
                                    "label": "Username",
                                    "value": "username"
                                },
                                {
                                    "label": "Vehicle ID",
                                    "value": "vehicle_id"
                                },
                                {
                                    "label": "Zodiac Sign",
                                    "value": "zodiac_sign"
                                }
                            ]
                        },
                        "type": "array",
                        "label": "Redact PII Policies"
                    },
                    {
                        "name": "redact_pii_sub",
                        "type": "select",
                        "label": "Redact PII Substitution",
                        "validate": {
                            "enum": [
                                "entity_name",
                                "hash"
                            ]
                        }
                    },
                    {
                        "name": "speaker_labels",
                        "type": "boolean",
                        "label": "Speaker Labels"
                    },
                    {
                        "name": "speakers_expected",
                        "type": "integer",
                        "label": "Speakers Expected"
                    },
                    {
                        "name": "content_safety",
                        "type": "boolean",
                        "label": "Content Moderation"
                    },
                    {
                        "name": "content_safety_confidence",
                        "type": "integer",
                        "label": "Content Moderation Confidence",
                        "validate": {
                            "max": 100,
                            "min": 25
                        }
                    },
                    {
                        "name": "iab_categories",
                        "type": "boolean",
                        "label": "Topic Detection"
                    },
                    {
                        "name": "custom_spelling",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "from",
                                    "spec": {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From",
                                        "required": true
                                    },
                                    "type": "array",
                                    "label": "From",
                                    "required": true
                                },
                                {
                                    "name": "to",
                                    "type": "text",
                                    "label": "To",
                                    "required": true
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Spellings"
                    },
                    {
                        "name": "sentiment_analysis",
                        "type": "boolean",
                        "label": "Sentiment Analysis"
                    },
                    {
                        "name": "auto_chapters",
                        "type": "boolean",
                        "label": "Auto Chapters"
                    },
                    {
                        "name": "entity_detection",
                        "type": "boolean",
                        "label": "Entity Detection"
                    },
                    {
                        "name": "speech_threshold",
                        "type": "number",
                        "label": "Speech Threshold",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "summarization",
                        "type": "boolean",
                        "label": "Enable Summarization"
                    },
                    {
                        "name": "summary_model",
                        "type": "select",
                        "label": "Summary Model",
                        "validate": {
                            "enum": [
                                "informative",
                                "conversational",
                                "catchy"
                            ]
                        }
                    },
                    {
                        "name": "summary_type",
                        "type": "select",
                        "label": "Summary Type",
                        "validate": {
                            "enum": [
                                "bullets",
                                "bullets_verbose",
                                "gist",
                                "headline",
                                "paragraph"
                            ]
                        }
                    },
                    {
                        "name": "custom_topics",
                        "type": "boolean",
                        "label": "Enable Custom Topics"
                    },
                    {
                        "name": "topics",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Custom Topics"
                        },
                        "type": "array",
                        "label": "Custom Topics"
                    }
                ]
            }
        },
        {
            "id": 48,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 213174
            },
            "mapper": {
                "data": "{{2.photo.data}}",
                "path": "/Apps/voice and Images",
                "filename": "{{2.photo.name}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 854,
                    "y": 28,
                    "name": "Photos"
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Image And Voice (pablo@toksol.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 49,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 213174
            },
            "mapper": {
                "path": "{{48.path_lower}}",
                "select": "map",
                "settings": {
                    "access": "max"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1141,
                    "y": -424,
                    "name": "Photos Link"
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Max Access"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Image And Voice (pablo@toksol.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 50,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 36982
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{49.downloadUrl}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "Analiza la siguiente imagen en detalle. Describe todos los elementos que aparecen en la imagen, incluyendo objetos, personas, colores, texturas, acciones o interacciones que observes. Proporciona una interpretaci칩n o significado potencial de la escena representada. Si es relevante, ofrece un contexto cultural, emocional o simb칩lico para los elementos de la imagen. Finalmente, resume los aspectos m치s destacados de la imagen en una breve conclusi칩n.",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1268,
                    "y": -62
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        },
                        "max_tokens": {
                            "empty": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 52,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 36982
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "\n**Rol:** Asistente de Documentaci칩n de Im치genes\n\n**Contexto:**\nEres un asistente especializado en analizar im치genes y complementarlas con la informaci칩n proporcionada en una grabaci칩n de audio. Tu tarea es producir un documento claro, organizado y visualmente atractivo que capture un an치lisis detallado de la imagen y la informaci칩n del audio. Utiliza la transcripci칩n de la grabaci칩n de voz y el an치lisis de la imagen para generar un informe completo.\n\n**Instrucciones Generales:**\n1. Analiza la imagen proporcionada y utiliza la transcripci칩n de audio para complementar el an치lisis.\n2. Organiza la informaci칩n en secciones claras y relevantes.\n3. Usa un lenguaje profesional y conciso, adecuado para un an치lisis general de im치genes.\n4. Genera un documento en formato HTML, asegur치ndote de incluir tanto la imagen como el an치lisis resultante.\n5. Aseg칰rate de que el informe sea f치cil de leer y navegar.\n\n**Estructura del Informe:**\n\n1. **Detalles de la Imagen**  \n   - **T칤tulo:** {{47.text}}\n   - **Fuente:** [Fuente de la imagen o URL]\n   - **Descripci칩n Visual de la Imagen:**  \n  {{50.result}}\n\n2. **Contexto**  \n   Explicaci칩n del contexto en el que fue tomada o creada la imagen, basado en la transcripci칩n de audio:  \n   {{47.text}}\n\n3. **Elementos Clave en la Imagen**  \n   - **Objetos o personas visibles:**  \n     {{50.result}}\n   - **Acciones o Interacciones:**  \n     {{50.result}}\n   - **Entorno:**  \n     {{47.text}}\n\n4. **Interpretaci칩n General**  \n   - **Posible Prop칩sito:**  \n     {{47.text}}\n   - **Emociones Evocadas:**  \n     {{47.text}}\n     {{50.result}}\n\n5. **Conclusi칩n**  \n   Resumen del an치lisis, destacando los aspectos m치s relevantes de la imagen y la transcripci칩n de audio.\n\n**Formato HTML:**\nGenera el informe final utilizando la siguiente estructura:\n\n```html\n<h1><span class=\"emoji\">游뒆勇</span> An치lisis de Imagen</h1>\n\n<p><strong>T칤tulo de la imagen:</strong> {{47.text}}</p>\n<p><strong>Fuente:</strong> [URL o fuente de la imagen]</p>\n\n<h2><span class=\"emoji\">游닝</span> Descripci칩n Visual</h2>\n<p>{{50.result}}</p>\n\n\n<h2><span class=\"emoji\">游늰</span> Contexto</h2>\n<p>{{47.text}}</p>\n\n<h2><span class=\"emoji\">游댌</span> Elementos Clave</h2>\n<ul>\n    <li><strong>Objetos o personas:</strong> {{50.result}}</li>\n    <li><strong>Acciones o Interacciones:</strong> {{50.result}}</li>\n    <li><strong>Entorno:</strong> {{50.result}}</li>\n</ul>\n\n<h2><span class=\"emoji\">游눬</span> Interpretaci칩n General</h2>\n<p><strong>Posible Prop칩sito:</strong> {{47.text}}</p>\n<p><strong>Emociones Evocadas:</strong> {{50.result}}</p>\n\n<h2><span class=\"emoji\">游늷</span> Conclusi칩n</h2>\n<p>{{50.result}}{{47.text}}</p>\n```\n\n**Consideraciones Finales:**\n1. Mant칠n la objetividad en todo momento.\n2. Aseg칰rate de que toda la informaci칩n sea precisa y fiel a lo que se observa en la imagen y lo que se menciona en el audio.\n3. Si hay partes poco claras en la imagen o el audio, ind칤calo como \"Elementos no claros\" en lugar de hacer suposiciones.\n\n---\n\n### Indicaciones:\n- **{{47.text}}**: Coloca aqu칤 la transcripci칩n del audio que analiza la imagen. AssemblyAI te proporcionar치 detalles sobre el contexto, emociones, o cualquier otra informaci칩n hablada en el archivo de voz.\n- **{{50.result}}**: Aqu칤 es donde OpenAI describir치 visualmente lo que aparece en la imagen, detallando objetos, interacciones, colores, y otros aspectos visuales.\n\n"
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1467,
                    "y": -441,
                    "name": "Resultado final"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 56,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 112881
            },
            "mapper": {
                "name": "{{2.photo.name}}",
                "footer": false,
                "header": false,
                "content": "{{52.result}}",
                "folderId": "/1YjgDI39INb_jvkWOUCtka6Q6li7jyek9",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1802,
                    "y": -228
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Art"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Consulta AI Router (consulta@toksol.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}